input{
    margin-bottom: 10px;
}

header{
    font-size: 25px;
    margin-bottom: 10px;
}

.typeField {
    font-size: 25px;
}

.submitButton {
    font-size: 25px;
}

.cancelButton{
    font-size: 25px;
    margin-left: 10px; 
    visibility: hidden;
}

.noticeText {    
    color: red;
    visibility: hidden;
}
